body{
	width: 600px;
	height: 900px;
	background-color: #efeef1;
}
.SIM{
	font-family: 'Impact', fantasy;
	font-weight: bold;
	font-size: 900px;
	position: absolute;
	top: -200px;
	left: 50px;
	z-index: -100;
}
.PAT{
	font-family: 'Impact', fantasy;
	font-weight: bold;
	font-size: 900px;
	position: absolute;
	top: 470px;
	left: 110px;
}
.ICO{
	font-family: 'Impact', fantasy;
	font-weight: bold;
	font-size: 900px;
	position: absolute;
	top: 1150px;
	left: 160px;
}
.simpatico{
	height: 90px;
	width: 450px;
	font-family: 'arial narrow', sans-serif;
	font-size: 100px;
	background-color: #e8e5de;
	z-index: 100;
	opacity: 0.7;
	position: absolute;
	left: 125px;
}
.beve{
	height: 90px;
	width: 800px;
	font-family: 'arial narrow', sans-serif;
	font-size: 100px;
	background-color: #e8e5de;
	color: #764147;
	z-index: 100;
	opacity: 0.7;
	position: absolute;
	left: 220px;
	top: 365px;
	transform: rotate(90deg);
}
.james{
	height: 90px;
	width: 660px;
	font-family: 'arial narrow', sans-serif;
	font-size: 100px;
	background-color: #e8e5de;
	color: #764147;
	z-index: 100;
	opacity: 0.7;
	position: absolute;
	left: 570px;
	top: 809px;
}
.marcia{	
	height: 90px;
	width: 830px;
	font-family: 'arial narrow', sans-serif;
	font-size: 100px;
	background-color: #e8e5de;
	color: #764147;
	z-index: 100;
	opacity: 0.7;
	position: absolute;
	right: -171px;
	top: 1178px;
	transform: rotate(90deg);

}